ul {
  list-style: none;
  padding: 0;
  color: #996600;
}
img {
  padding-left: 35%;
}
nav li:hover{
  color: #FFF;
  background-color: #996600;
}
nav:before, nav:after {
  content: "";
  border: 1px solid #996600;
  width: 30%;
  height: 0;
  margin: 10px;
  position: relative;
  top: 12px;
}

li {
  float: left;
  margin: 0 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
}
/*photos and the empty frames*/
#artist-photo {
  margin: inherit;
  padding-right: 10%;
}
#El-Drake:hover {
  color:#FFF;
  background-color: #996600;
}
#empty-frame {
  padding-left: 1%;
}
/*end photos and the empty frames*/

/*footer*/
.row2{
  background-color: #996600 ;
  height: 70px;
  bottom: 0%;
  color: white;
  width:100%;
  padding-bottom: -150%;
}

.row2 img {
  float: right;
  padding-bottom: 20px;
  display: inline-block;
  padding-right: 30px;
  padding-top: -40px;
}

.row2 p {
  padding-left: 40px;
  /*padding-top: 0px;*/
  display: inline-block;
  padding-top: 10px;
}
.copyrights {
  margin-bottom: 10px;
}
/*end footer*/
